---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h2>¿Qué encontrarás en este blog?</h2>
        <ul>
          <li>
            <strong>Algoritmos y complejidad</strong>: desde lo básico hasta
            técnicas avanzadas.
          </li>
          <li>
            <strong>Estructuras de datos</strong>: arrays, listas, árboles,
            grafos.
          </li>
          <li>
            <strong>Proyectos prácticos</strong>: tokenizadores, compiladores y
            más.
          </li>
        </ul>
        <p>
          Este blog forma parte de un proyecto personal de aprendizaje continuo
          en <strong>programación y análisis de datos</strong>y hacerlo
          accesible a todo aquel que quiera aprender.
        </p>
      </section>
    </main>
    <Footer />
  </body>
</html>
